:root {
  --margin-items: 15px;
  --font-size-header: 1.5rem;
}

header {
  height: 100vh;
  background-color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.container .logo {
  justify-self: left;
  grid-column: 1 / 7;
  margin: 0;
}

.container .logo img {
  display: block;
  margin: var(--margin-items) 0;
}

.container .navbar {
  grid-column: 7/13;
  align-self: center;
}

.container .navbar button {
  display: none;
}

.container .navbar .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: var(--margin-items);
  margin: 0 var(--margin-items);
  padding: 0;
  list-style: none;
  font-size: var(--font-size-header);
}

.container .navbar .list li a {
  color: #fff;
  text-decoration: none;
}

header .photo {
  height: calc(100vh - 150px - 2 * var(--margin-items));
  background-image: url(../image/Untitled_design.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .photo .container {
  height: calc(100vh - 150px - 2 * var(--margin-items));
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2 * var(--font-size-header));
  color: black;
  gap: var(--margin-items);
}

.photo .container .barber-icon {
  width: 150px;
}

.photo .container h1 {
  font-size: clamp(
    var(--font-size-header),
    5vw,
    calc(3 * var(--font-size-header))
  );
}

.photo button {
  display: block;
  position: fixed;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #cf2b2a;
  margin: var(--margin-items);
  padding: 0;
  bottom: 0;
  right: 0;
}

.photo button a {
  font-size: calc(var(--font-size-header) / 1.25);
  font-weight: 900;
  color: #cb9869ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container .navbar {
    position: relative;
    grid-column: 10/13;
  }

  .container .navbar button {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25%;
    background-color: #cf2b2a;
    margin: var(--margin-items);
    padding: 0;
  }

  .container .navbar button i {
    font-size: var(--font-size-header);
    color: #cb9869;
  }

  .container .navbar .list {
    display: none;
  }

  .container .navbar .active {
    display: grid;
    position: fixed;
    background-color: black;
    top: 180px;
    left: calc(-1 * var(--margin-items));
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    width: 100vw;
    text-align: center;
    gap: 0;
    z-index: 2;
  }
  .container .navbar .list li {
    padding: var(--margin-items);
  }

  .photo {
    position: relative;
  }

  header .photo .container {
    flex-direction: column;
  }

  header .photo .container .barber-icon {
    width: 125px;
  }

  .photo .shadow-active {
    position: absolute;
    width: 100%;
    top: 0;
    height: calc(100vh - 150px - 2 * var(--margin-items));
    background-color: #000000bb;
    z-index: 1;
  }
  .noscroll {
    height: 100%;
    overflow-y: hidden;
  }
}

#hosep {
  display: flex;
  flex-wrap: wrap;
  background-color: #00000055;
  height: 100vh;
  align-items: center;
}

#hosep .container {
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  gap: var(--margin-items);
  padding-bottom: var(--margin-items);
}

#hosep .container .image {
  grid-column: 1/6;
  border-radius: 25%;
  text-align: center;
}

#hosep .container .image img {
  margin: 0;
  padding: 0;
  width: 350px;
  height: auto;
  border-radius: calc(2 * var(--margin-items));
  box-shadow: 10px 10px 20px black;
}

#hosep .container .about {
  grid-column: 7/13;
  text-align: center;
}
#hosep h2 {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: calc(1.5 * var(--font-size-header));
  width: 100%;
  padding-top: var(--margin-items);
  padding-bottom: var(--margin-items);
}

@media (max-width: 768px) {
  #hosep {
    height: auto;
  }

  #hosep .container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    height: auto;
    padding-bottom: var(--margin-items);
  }
  #hosep .container .image {
    margin-top: var(--margin-items);
    grid-column: auto;
  }
  #hosep .container .image img {
    width: 300px;
    margin: 0 auto;
  }
  #hosep .container .about {
    grid-column: auto;
    width: 300px;
    margin: 0 auto;
  }

  #hosep .container .about p {
    width: fit-content;
    margin: 0;
  }
}

#palvelu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000000dd;
}

#palvelu .container {
  padding-bottom: calc(5 * var(--margin-items));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin-items) * 2);
}

#palvelu .container .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--margin-items) 0;
  border: #fff 2px solid;
  border-radius: 15px;
  width: 75%;
  color: #fff;
  text-align: center;
  box-shadow: 10px 10px 20px black;
}

#palvelu .container .card p,
#palvelu .container .card h2 {
  padding: 0;
  margin: var(--margin-items) 0;
  width: fit-content;
  font-size: calc(var(--font-size-header) / 1.25);
}

#palvelu h2 {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: calc(1.5 * var(--font-size-header));
  width: 100%;
  padding-top: var(--margin-items);
  padding-bottom: var(--margin-items);
  color: #fff;
}

@media (max-width: 768px) {
  #palvelu .container .card {
    justify-content: center;
  }
}

#yhteytta {
  background-color: #00000055;
  height: 100vh;
}

#yhteytta .container {
  grid-template-columns: 1fr;
}

#yhteytta .container .info {
  font-size: calc(var(--font-size-header) / 1.1);
  margin-top: calc(3.25 * var(--font-size-header));
  margin-bottom: calc(3.25 * var(--font-size-header));
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
  align-items: center;
}

#yhteytta .container .info .address p,
#yhteytta .container .info .address address {
  padding: calc(var(--margin-items) / 3);
}
#yhteytta .container .info .contact .phone,
#yhteytta .container .info .contact .email {
  display: flex;
  gap: calc(var(--font-size-header) / 3);
}
#yhteytta .container .info a {
  text-decoration: none;
  color: black;
  display: block;
}

#yhteytta .container .info .media {
  display: flex;
}

#yhteytta .container .info .media a {
  padding-left: calc(var(--font-size-header) / 3);
}

#yhteytta .container .info .address p {
  margin: 0;
}

#yhteytta .container .info .info-icon {
  width: 50px;
}

#yhteytta .container .maps {
  width: 90%;
  height: 50vh;
  margin: 0 auto;
}

#yhteytta .container .maps iframe {
  width: 100%;
  height: 100%;
}

#yhteytta h2 {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: calc(1.5 * var(--font-size-header));
  width: 100%;
  padding-top: var(--margin-items);
  padding-bottom: var(--margin-items);
  color: black;
}

@media (max-width: 768px) {
  #yhteytta {
    height: auto;
    padding-bottom: calc(3.25 * var(--font-size-header));
  }
  #yhteytta .container .info {
    font-size: calc(var(--font-size-header) / 1.3);
  }
}

#socialmedia {
  background-color: #000000dd;
  height: 70vh;
}

#socialmedia .container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

#socialmedia h2 {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: calc(1.5 * var(--font-size-header));
  width: 100%;
  padding-top: var(--margin-items);
  padding-bottom: var(--margin-items);
  color: #fff;
}

@media (max-width: 768px) {
  #socialmedia {
    height: auto;
    padding-bottom: calc(3.25 * var(--font-size-header));
  }
}

footer {
  background-color: #000000ff;
  color: #fff;
}

footer .container {
  grid-template-columns: 1fr;
  justify-content: space-around;
  text-align: center;
}

footer .container :last-child {
  margin-top: 0;
  margin-bottom: calc(var(--margin-items) * 2);
}
